<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SatzzAPI</title>
<link href="https://fonts.googleapis.com/css2 family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="./assets/css/tailwind.output.css" />
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
<script src="./assets/js/init-alpine.js"></script>
<script src="./assets/js/focus-trap.js" defer></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
<span id="typing" class="mb-4 font-semibold text-gray-600 dark:text-gray-300 typing"></span>
<p class="text-gray-600 dark:text-gray-400 mb-4">
This API is currently under development. If you encounter any bugs or errors, please don't hesitate to contact us. Your feedback is valuable for improving the service.
</p>
</div>
<div x-data="{
tracks:[
{
title: 'Que Pasa',
cover: 'https://i.ytimg.com/vi/FqoTpD1Mux4/hqdefault.jpg',
source: 'Que Pasa (128kbps).mp3'
},
{
title: 'TRUMPET SAKTI',
cover: 'https://i.ytimg.com/vi/Yb8-LQigHbg/hqdefault.jpg',
source: 'TRUMPET SAKTI (128kbps).mp3'
},
{
title: 'Piw Piw',
cover: 'https://i.ytimg.com/vi/DVkYLWH0_ew/hqdefault.jpg',
source: 'Piw Piw (128kbps).mp3'
},
{
title: 'Booty Call',
cover: 'https://i.ytimg.com/vi/hME9PL2WKiY/hqdefault.jpg',
source: 'Booty Call (128kbps).mp3'
},
{
title: 'Dj Piw Piw Jj Bass Beton',
cover: 'https://i.ytimg.com/vi/mxnUjhi7qPY/hqdefault.jpg',
source: 'Dj Piw Piw Jj Bass Beton (128kbps).mp3'
},
{
title: 'NO BOXING NO KECE',
cover: 'https://i.ytimg.com/vi/6Hy-3hcJqoc/hqdefault.jpg',
source: 'NO BOXING NO KECE (128kbps).mp3'
},
{
title: 'CLNDK STREET BOYS',
cover: 'https://i.ytimg.com/vi/frUZW8DbC3E/hqdefault.jpg',
source: 'CLNDK STREET BOYS (128kbps).mp3'
},
{
title: 'DROP OVERHEAT',
cover: 'https://i.ytimg.com/vi/gPBFPWzWUBY/hqdefault.jpg',
source: 'DROP OVERHEAT (128kbps).mp3'
},
{
title: 'DROP MELODY NGEGASS',
cover: 'https://i.ytimg.com/vi/iY6Hmp_m0v0/hqdefault.jpg',
source: 'DROP MELODY NGEGASS (128kbps).mp3'
},
{
title: 'Aria Freaks Stadium',
cover: 'https://i.ytimg.com/vi/Ww_T0LvY1vI/hqdefault.jpg',
source: 'Aria Freaks Stadium (128kbps).mp3'
},
{
title: 'DROP ENAKEUN V5',
cover: 'https://i.ytimg.com/vi/aGAHR37bXF0/hqdefault.jpg',
source: 'DROP ENAKEUN V5 (128kbps).mp3'
},
{
title: 'JJ BBHC V2 RALEY RMX',
cover: 'https://i.ytimg.com/vi/mQ7kNFknwwI/hqdefault.jpg',
source: 'JJ BBHC V2 RALEY RMX (128kbps).mp3'
},
{
title: 'Plastic',
cover: 'https://i.ytimg.com/vi/pWdN_5ivlwc/hqdefault.jpg',
source: 'Plastic (128kbps).mp3'
},
{
title: 'Takutu',
cover: 'https://i.ytimg.com/vi/hGqjC7O9FCE/hqdefault.jpg',
source: 'Takutu (128kbps).mp3'
},
{
title: 'SOUND JJ Party BreakDutch VOL. 01 Melody Kane',
cover: 'https://i.ytimg.com/vi/M4j3k9I4S5Y/hqdefault.jpg',
source: 'SOUND JJ Party BreakDutch VOL. 01 Melody Kane(128kbps).mp3'
},
{
title: 'DROP BBHC',
cover: 'https://i.ytimg.com/vi/vr9M-d0c9Yg/hqdefault.jpg',
source: 'DROP BBHC(128kbps).mp3'
},
{
title: 'Oh Honey',
cover: 'https://i.ytimg.com/vi/TSlnGkRLARE/hqdefault.jpg',
source: 'Oh Honey(128kbps).mp3'
},
{
title: 'Mambo Jambo (feat. dub it)',
cover: 'https://i.ytimg.com/vi/o0geNmOVuBc/hqdefault.jpg',
source: 'Mambo Jambo (feat. dub it)(128kbps).mp3'
},
{
title: 'BEBEK BOXING',
cover: 'https://i.ytimg.com/vi/k91rG308P6c/hqdefault.jpg',
source: 'BEBEK BOXING(128kbps).mp3'
},
{
title: 'Uno Dos Tres',
cover: 'https://i.ytimg.com/vi/rhdyzSnvBJY/hqdefault.jpg',
source: 'Uno Dos Tres(128kbps).mp3'
},
{
title: 'Cartel',
cover: 'https://i.ytimg.com/vi/J1HR1_uG6VU/hqdefault.jpg',
source: 'Cartel(128kbps).mp3'
},
{
title: 'Tequila (Vocal Mix)',
cover: 'https://i.ytimg.com/vi/XUGuDKdsyn0/hqdefault.jpg',
source: 'Tequila (Vocal Mix)(128kbps).mp3'
}
],
currentIndex: 0,
audio: null,
isPlaying: false,
get currentTrack() { return this.tracks[this.currentIndex]; },
init() { this.audio = new Audio('./audio/' + this.currentTrack.source); this.audio.addEventListener('ended', () => this.nextTrack()); },
togglePlayPause() { if (this.isPlaying) { this.audio.pause(); } else { this.audio.play(); } this.isPlaying = !this.isPlaying; },
nextTrack() { this.currentIndex = (this.currentIndex + 1) % this.tracks.length; this.playTrack(); },
prevTrack() { this.currentIndex = (this.currentIndex - 1 + this.tracks.length) % this.tracks.length; this.playTrack(); },
playTrack() { this.audio.src = './audio/' + this.currentTrack.source; this.audio.play(); this.isPlaying = true; }
}" x-init="init">
<div class="min-w-0 p-4 text-white bg-purple-600 rounded-lg shadow-xs">
<div class="flex items-center">
<img :src="currentTrack.cover" alt="Cover Art" class="w-12 h-12 rounded-md object-cover mr-4" />
<div class="flex-1">
<h3 class="text-lg font-bold truncate" x-text="currentTrack.title"></h3>
<div class="flex mt-2 space-x-4">
<button @click="prevTrack" class="btn btn-circle btn-info">
<i class="fas fa-step-backward"></i>
</button>
<button @click="togglePlayPause" class="btn btn-circle btn-success">
<i :class="'fas ' + (isPlaying ? 'fa-pause' : 'fa-play')"></i>
</button>
<button @click="nextTrack" class="btn btn-circle btn-info">
<i class="fas fa-step-forward"></i>
</button>
</div>
</div>
</div>
</div>
</div>
<script>
if (window.self === window.top) {
document.body.innerHTML = '<h1>Access Denied</h1>';
throw new Error("This page must be embedded in an iframe.");
}
</script>
</body>
</html>